---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/global.css'
const pageTitle = "About Me";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<nav>
			<Navigation/>
		</nav>
		<h1>{pageTitle}</h1>
        <p>Hello and welcome! I'm Stacy, a NYC-based software engineer with a passion for 
            turning ideas into reality. With a background in web development, I thrive 
            on creating innovative solutions that make a difference. I love diving into new
            technologies and tackling complex challenges, whether I'm coding, 
            collaborting, or brainstorming. Outside of development, you can find me exploring
            the vibrant streets of New York, sipping coffee in a cozy cafe, or on the hunt
            for the city's best bites and hidden gems. Join me on this exciting journey as we create,
            inspire, and innovate together! </p>

		<Footer />	
	</body>
    <!-- <footer>
		<p>
			Connect with me: <a href="https://github.com/stacy-tech" target="_blank">GitHub</a>
			<a href="https://linkedin.com/in/stacy-d" target="_blank">Linkedin</a>
		</p>
		<p>&copy; 2024 Stacy. All rights reserved.</p>
	</footer> -->
</html>