---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'

const pageTitle = "Home";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>Hi there! I'm Stacy, a Software Engineer in the Heart of NYC.</h1>
		<Footer/>
	</body>
	<!-- <footer>
		<p>
			Connect with me: <a href="https://github.com/stacy-tech" target="_blank">GitHub</a>
			<a href="https://linkedin.com/in/stacy-d" target="_blank">Linkedin</a>
		</p>
		<p>&copy; 2024 Stacy. All rights reserved.</p>
	</footer> -->
</html>
