---
import '../styles/global.css'

const pageTitle = "Projects";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/projects/">Projects</a>
        </nav>
		<h1>{pageTitle}</h1>
        <p>This is where I'll place my projects</p>
	</body>
	<footer>
		<p>
			Connect with me: <a href="https://github.com/stacy-tech" target="_blank">GitHub</a>
			<a href="https://linkedin.com/in/stacy-d" target="_blank">Linkedin</a>
		</p>
		<p>&copy; 2024 Stacy. All rights reserved.</p>
	</footer>
</html>
